.register-form {
    margin: 0 auto;
    width: 50%;
}

.register-form input:not([type=checkbox]) {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 15px;

}

.box-2 {
    background-color: rgba(255, 255, 255, 0.979);
    padding: 10px;
    margin-top: 20px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .response {
        width: 100%;
    }
}