.register-form {
    margin: 0 auto;
    width: 50%;
}

.register-form input:not([type=checkbox]) {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 15px;

}

.box-2 {
    background-color: rgba(143, 235, 235, 0.747);
    padding: 10px;
}