.box {
    background-color: rgb(253, 253, 253);
    padding: 10px;
    margin-top: 20px;
}

.response {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .response {
        width: 100% !important;
    }
}