
.rox{
    color: white;
    background-color: black;
}

@media screen and (max-width: 600px) {
    .rox{
        display:flex;
      align-items:center;
    }

    .rr{
        display:none;
    }
    
}