.Blogss {
    color: rgba(68, 68, 233, 0.904);
    text-align: center;

}

.data {
    padding: 7px;
    border-left: 3px solid rgb(233, 110, 110);
    border-radius: 1px;
    text-align: justify;
    color: rgb(90, 92, 99);
}

.datap {
    padding: 7px;
    border-left: 3px solid rgb(231, 233, 110);
    border-radius: 1px;
    text-align: justify;
    color: rgb(90, 92, 99);
}

.dtap {
    padding: 7px;
    border-left: 3px solid rgb(110, 233, 120);
    border-radius: 1px;
    text-align: justify;
    color: rgb(90, 92, 99);
}

.datp {
    padding: 7px;
    border-left: 3px solid rgb(223, 118, 205);
    border-radius: 1px;
    text-align: justify;
    color: rgb(90, 92, 99);
}

.datap {
    padding: 7px;
    border-left: 3px solid rgb(110, 233, 223);
    border-radius: 1px;
    text-align: justify;
    color: rgb(90, 92, 99);
}



.blogs-Container {
    padding: 10px;
    margin-bottom: 40px;
}