.port {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.rty {
    margin: 90px 5px;
}

.skill {

    padding: 30px;
}












/*--------- media qurey here  ------*/
@media screen and (max-width: 600px) {
    .port {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }

    .rty {
        margin: 35px 5px;
    }

    .font-skill {
        font-size: 15px;
    }



}